<p>Dear <%= metadata.recipient.name %>,</p>

<P>Your employee, <%- profileName %>, just offered to assist a Department of State colleague by volunteering for the <%- taskTitle %> project on CrowdWork. This project is expected to take <%- taskTimeEstimate %> over a period of <%- taskLength %>. It is sponsored by <%- requestorName %>.</p>

<p>If you’d like to learn more about the work your employee has volunteered to perform, visit this site: </p>

<a href="<%= taskLink %>" class="btn btn-c2" bgcolor="39B7EA">View Task</a>

<p>CrowdWork is an innovative new crowdsourcing platform was developed as a collaboration between HR and eDiplomacy as a way to provide FAST officers employees with opportunities to expand their in-cone experiences or functional specialties. It also provides mentors additional avenues to work with their mentees.</p>

<p>If you have questions about Crowdwork, please write to crowdwork@state.gov.</p>

<p>Thank you for supporting your employee!</p>
