<h1>Opportunity: <%- taskTitle %></h1>
<p>Congratulations! <%- profileTitle %> / <%- profileName %> has applied to work on the opportunity <%- taskTitle %>.</p>
<p><%- taskLink %></p>
<p>View the volunteer's profile at: <%- profileLink %></p>
<p>Volunteer Agency: <%- profileAgency %></p>
<p>Volunteer Location: <%- profileLocation  %></p>
