<p>Hello<% if (metadata.recipient.name) { %> <%= metadata.recipient.name %><% } %>,</p>
<p>
<% if (profileName) { %>
<a href="<%= profileLink %>"><%= profileName %></a>
<% } else { %>
Someone
<% } %>
has volunteered for
<a href="<%= taskLink %>"><%= taskTitle %></a>

<blockquote>
  <table border="0">
    <tr>
      <td valign="top">
        <img width="100" height="100" src="<%= globals.urlPrefix %>/api/user/photo/<%= metadata.volunteer.id %>" alt="<%= profileName %>"/>
      </td>
      <td valign="top">
        <span class="volunteer-name"><%- profileName %> (<%- profileEmail %>)</span>
        <% if (profileTitle) { %>
          <br/>
          <%= profileTitle %>
        <% } %>
        <% if (profileAgency) { %>
          <br/>
          <%= profileAgency %>
        <% } %>
        <% if (profileLocation) { %>
          <br/>
          <%= profileLocation %>
        <% } %>
      </td>
    </tr>
  </table>
</blockquote>

<p class="center full-width">
  <a href="<%= taskLink %>" class="btn btn-c2" bgcolor="39B7EA">View Opportunity</a>
</p>
<p>
  Thanks!
  <br/>
  - The <%= globals.systemName %> Team
</p>
