<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
</head>
<body bgcolor="#ffffff" text="#000000">

  <table class="wrapper" width="100%" cellpadding="0" cellspacing="0">
    <tr>
      <td class="header" bgcolor="F04F24" height="10" width="100%">
      </td>
    </tr>
    <tr>
      <td class="logo">
        <img src="<%= globals.urlPrefix %>/images/logo.png" alt="<%= globals.systemName %>"/>
      </td>
    </tr>
    <tr>
      <td width="100%" class="content">
        <%- contentHTML %>
      </td>
    </tr>
    <tr>
      <td width="100%" class="footer" bgcolor="F0F0F0">
        <p>
        You received this email because you signed up for <a href="<%= globals.urlPrefix %>"><%= globals.systemName %></a>.
        </p>
      </td>
    </tr>
  </table>

</body>
</html>
