<h1>Name: <%- profileTitle  %> <%- profileName %></h1>
<p>Agency: <%- profileAgency  %></p>
<p>Location: <%- profileLocation  %></p>
<p>Your colleague wanted to let you know about this interesting person. Click on the link to see their profile.</p>
<p><%- profileLink  %></p>
