<p>Hello<% if (metadata.recipient.name) { %> <%= metadata.recipient.name %><% } %>,</p>
<p>
<% if (metadata.commentUser.name) { %>
<a href="<%= globals.urlPrefix %>/profiles/<%= metadata.commentUser.id %>"><%= metadata.commentUser.name %></a>
<% } else { %>
Someone
<% } %>
commented in your
<% if (!_.isUndefined(metadata['project'])) { %>
project.
<% } else { %>
opportunity.
<% } %>
They said:
<blockquote>
  <%- callerComment  %>
</blockquote>
<p class="center full-width">
  <a href="<%= link %>#comment-<%= metadata.comment.id %>" class="btn btn-c2" bgcolor="39B7EA">View Discussion</a>
</p>
<p>
  Thanks!
  <br/>
  - The <%= globals.systemName %> Team
</p>
